<section id="book">
	<h1><%= @book.title %></h1>
	<dl>
		<dt>ID in Library:</dt>
		<dd><%= @book.library_id %></dd>

		<dt>Author:</dt>
		<dd><%= @book.author %></dd>

		<% if @book.series %>
			<dt>Series:</dt>
			<dd><%= @book.series %></dd>
		<% end %>

		<% if @book.series_id %>
			<dt>ID in Series:</dt>
			<dd><%= @book.series_id %></dd>
		<% end %>

		<% if @book.isbn %>
			<dt>ISBN:</dt>
			<dd><%= @book.isbn %></dd>
		<% end %>

		<% if @book.year_published %>
			<dt>Year Published: </dt>
			<dd><%= @book.year_published %></dd>
		<% end %>

		<% if @book.publisher %>
			<dt>Publisher:</dt>
			<dd><%= @book.publisher %></dd>
		<% end %>

		<% if @book.page_count %>
			<dt>Page Count:</dt>
			<dd><%= @book.page_count %></dd>
		<% end %>

		<% if @book.genre %>
			<dt>Genre:</dt>
			<dd><%= @book.genre %></dd>
		<% end %>

		<% if @book.language %>
			<dt>Langauge:</dt>
			<dd><%= @book.language %></dd>
		<% end %>

		<dt>Loanable:</dt>
		<% if @book.loanable %>
		<dd>Yes</dd>
		<% else %>
		<dd>No</dd>
		<% end %>

		<dt>Free:</dt>
		<% if @book.free %>
		<dd>Yes</dd>
		<% else %>
		<dd>No</dd>
		<% end %>
	</dl>
</section>
<% if admin? %>
<section class="admin">
	<a href="<%= @book.library_id %>/loan" class="button">loan</a>
	<a href="<%= @book.library_id %>/edit" class="button">edit</a>
	<a href="<%= @book.library_id %>/delete" class="button">delete</a>
</section>
<% end %>