<% if defined? failure %>
    <div class="error">
        <%= failure %>
    </div>

<% elsif defined? success %>
    <div class="success">
        <%= success %>
    </div>
<% end %>

<section id="edit">
    <h1>edit <%= escape @user.username %></h1>
	<form action="/user/<%= escape @user.username %>/edit" method="post">
		<label>
            Username: <br />
            <input type="text" name="<%= escape @user.username %>" disabled="disabled" />
        </label>
        <labeL>
            Old Password: <br /> <input type="password" name="old_password" />
        </label>
		<labeL>
            New Password: <br /> <input type="password" name="password" />
        </label>
        <label>
            Confirm password: <br /> <input type="password" name="confirm_password" />
        </label>
        <label>
            E-mail: <br /> <input type="text" name="email" value="<%= escape @user.email %>" />
        </label>
        <label>
            Confirm e-mail: <br /> <input type="text" name="confirm_email" />
        </label>
		<input type="submit" value="edit" />
	</form>
</section>
